body{
    background-color: black ;
    

}

h1{
    justify-content: center ;
    text-align: center ;
    color: red ;  

    }

    button{
        padding: 10px ;
        margin-top: 20px ;
        justify-content: center ;
        text-align: center ;
        background-color: blue ;
        color: white ;
        font-size: 20px ;
        border-radius: 10px ;
        padding: 10px ;
        margin-left: 45% ;
        border-color: rgb(255, 255, 255) 13px  Bold ;
    }
    button:hover{
        background-color: green ;
        cursor: pointer ;
    }   
    
    a{
        text-decoration: none ;
        color: white ;
    }
    p{
        color: white ;
        text-align: center ;
        margin-top: 20px ;
        font-size: 25px ;
    }