body {
    background-color: black ;
}
h1 {
    justify-content: center ;
    text-align: center ;
    color: red ;
}
button {
    padding: 10px ;
    margin-top: 20px ;
    justify-content: center ;
    text-align: center ;
    background-color: blue ;
    color: white ;
    font-size: 20px ;
    border-radius: 10px ;
    padding: 10px ;
    margin-left: 45% ;
    border-color: rgb(255, 255, 255) 13px Bold ;
}
button:hover {
    background-color: green ;
    cursor: pointer ;
}
input {
    color: black;
    display: block ;
    margin: 20px auto ;
    padding: 10px ;
    font-size: 18px ;
    border-radius: 15px ;
    border: 2px solid #ccc ;
    width: 80% ;
    height: 50px;
}
input:focus {
    border-color: #ffffff ;
    outline: none ;
    box-shadow: 0 0 8px rgba(102, 175, 233, 0.6) ;
    transform: scale(1.02) ;
}
p {
    color: white ;
    text-align: center ;
    margin-top: 20px ;
    font-size: 25px ;
}
output {
    color: yellow ;
    text-align: center ;
    justify-content: center;
    font-size: 25px ;
    text-align: center;
    display: block ;
    margin: 20px auto ;
}
div {
    text-align: center ;
    margin-top: 20px ;
    padding: 50px ;

}